.page-item.active .page-link {
    z-index: 1;
    color: #000;
    background-color: #fee86d;
    border-color: #fee86d;
}

.page-link {
    color: #000000;
}

.load-posts {
    display: flex;
    justify-content: center;
}
